@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
.top-bar{
	width: 100%;height: 50px;line-height: 50px
}
.top-bar a{
	color: white
}
.top-bar a:hover{
	color: #FFC113
}
.navbar .navbar-nav .nav-item .nav-link{
	padding: 8px 20px;border-radius: 5px;position: relative
}
.navbar .navbar-nav .nav-item .nav-link:hover{
	background-color: #056CB6; color: #FFC113
}
.navbar .navbar-nav .nav-item .dropdown-menu{
	background-color: #056CB6;padding-bottom: 0px;padding-top: 0px
}
.navbar .navbar-nav .nav-item .dropdown-menu li{
	border-bottom: 1px solid white
}
.navbar .navbar-nav .nav-item .dropdown-item{
	color: white
}
.navbar .navbar-nav .nav-item .dropdown-item:hover{
	background-color:   #FFC113}
main{
	width: 100%;min-height: 600px
}
footer{
	width: 100%;min-height: 300px
}
.gach-chan{
	border-bottom: 2px solid #FFC113
}
.navbar-nav .nav-item .nav-link:hover{
	color:  #FFC113
}
.bottom-bar{
	width: 100%;height: 50px;line-height: 50px
}
body{
	margin: 0;background-color: #E5E5E5E5;font-family: "Roboto", sans-serif;font-size: 16px;color: #666666
}

#service a{
	text-decoration: none; color: #7F7F7F
}
#service a:hover{
	color:#FFC113 
}
#why{
	width: 100%;min-height: 400px;background: url( "../images/why.jpg");background-repeat: no-repeat;background-size: cover;background-position: center top
}
#client .hinh{
	width: 100%;min-height:100px;position: relative
}
#client .truoc{
	position: absolute;left: 0;top: 0;padding: 8px;color: rgba(132,132,132,0.8);background-color: rgba(239,239,239,0.8) 
}
#client .sau{
	position: absolute;left: 50%;top: 0;padding: 8px;background-color: rgba(239,239,239,0.8);color: rgba(132,132,132,0.8)
}
#cam-nhan .noidung img{
	width: 80px;height: 80px
}
#cam-nhan .noidung{
	padding: 30px;display: flex;flex-direction: column;justify-content: center;align-items: center
}
#bg{
	width: 100%;min-height: 500px;background: url( "../images/pageheader.png");background-repeat: no-repeat;background-size: cover;background-position:
}
.caption{
	width: 30%;text-align: center;top: 18%;position: absolute
}
.caption button:hover{
	background-color: #1C3593
}







